.join-text h3{
    text-align: center;
}
.join-container{
    display: flex;
}
.join-custom{
    flex: 1
}
.join-donate-btn{
    margin-top: 30px;
}
.signup-container{
    padding-left: 100px;
    flex: 1
}
.signup-container h5{
    text-align: center;
}